{% load static %}
<!-- alt kucuk rastgele baslangic -->
<div class="blog-prev-next-posts">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="pn-post-item next-post">
                <div class="thumb">
                    <a href="{% url 'sozler:soz_slug' soz_slug=sozRandom.slug %}"><img
                            src="{% static 'assets/img/others/söz.png' %}"
                            alt="Başka Söz Getir"></a>
                </div>
                <div class="content">

                    <h5 class="title tgcommon__hover"><a
                            href="{% url 'sozler:soz_slug' soz_slug=sozRandom.slug %}">Rastgele Söz Getir</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="pn-post-item next-post">
                <div class="thumb">
                    <a href="{% url 'siir:siir_detail' siir_slug=siirRandom.slug %}"><img
                            src="{% static 'assets/img/others/şiir.png' %}"
                            alt="Başka Şiir Getir"></a>
                </div>
                <div class="content">

                    <h5 class="title tgcommon__hover"><a
                            href="{% url 'siir:siir_detail' siir_slug=siirRandom.slug %}">Rastgele Şiir Getir</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="pn-post-item next-post">
                <div class="thumb">
                    <a href="{% url 'sairler:sair_detail' sair_slug=yazarRandom.slug %}"><img
                            src="{% static 'assets/img/others/şair.png' %}"
                            alt="Başka Şair Getir"></a>
                </div>
                <div class="content">

                    <h5 class="title tgcommon__hover"><a
                            href="{% url 'sairler:sair_detail' sair_slug=yazarRandom.slug %}">Rastgele
                        Yazar Getir</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="pn-post-item next-post">
                <div class="thumb">
                    <a href="{% url 'hikaye:hikaye_slug' hikaye_slug=hikayeRandom.slug %}"><img
                            src="{% static 'assets/img/others/şiir_hikaye.png'%}"
                            alt="Başka Hikaye Getir"></a>
                </div>
                <div class="content">

                    <h5 class="title tgcommon__hover"><a
                            href="{% url 'hikaye:hikaye_slug' hikaye_slug=hikayeRandom.slug %}">Rastgele Hikaye Getir</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- alt kucuk rastgele baslangic bitis -->