{% extends 'base.html' %}
{% load static %}


{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogimage %}{{ request.scheme }}://{{ request.get_host }}{% static 'assets/img/others/Siirlerin_resmi.png' %}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}
{% block twimage %}{{ request.scheme }}://{{ request.get_host }}{% static 'assets/img/others/Siirlerin_resmi.png' %}{% endblock %}





{% block content %}

    <!-- main-area -->
    <main>

        <!-- trending-area -->
        <section class="trending-post-area white-bg section__hover-line pt-75 pb-80">
            <div class="container">
                <h1 class="text-center" style="font-size: 14px;">Aşk, Sevgi, Dini, Anne Hikayeleri</h1>
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h3 class="section__main-title">Popüler Hikayeler</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href={% url 'hikaye:populer-hikayeler' %}>Tüm Popüler Hikayeler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="trending__slider">
                    <div class="swiper-container trending-active">
                        <div class="swiper-wrapper">

                            {% for pSiir in populersiir %}
                                <div class="swiper-slide">
                                    <div class="trending__post">
                                        <div class="trending__post-thumb tgImage__hover">
                                            <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                                            {% if pSiir.yazar.kapak_resmi %}
                                                <a href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}"><img
                                                    src="{{ pSiir.yazar.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                            {% else %}
                                                <a href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}"><img
                                                    src="{% static 'assets/img/others/Siirlerin_resmi.png' %}" alt="{{ pSiir.title }}"></a>

                                            {% endif %}

                                            <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                        </div>
                                        <div class="trending__post-content">
                                            <ul class="tgbanner__content-meta list-wrap">

                                            </ul>
                                            <h4 class="title tgcommon__hover"><a
                                                    href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}">{{ pSiir.title }}</a>
                                            </h4>
                                            <ul class="tgbanner__content-meta list-wrap">
                                                <i class="fal fa-info-circle"> &nbsp;</i> <!-- İkonu burada koyduk -->
                                                <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                                {% for alt_kategori in pSiir.alt_kategorisi.all %}
                                                    <li>
                                                        <a href="{% url 'hikaye:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- trending-area-end -->


        <!-- featured-area -->
        <section class="featured-post-area section__hover-line pt-75">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h3 class="section__main-title">Popüler Kategoriler</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href="{% url 'hikaye:tum-hikaye-kategorileri' %}">Tüm Kategoriler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for KategoriPopuler in TumSiirBannerKategorileri %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="featured__post">
                                <div class="featured__thumb"
                                     data-background="{{ KategoriPopuler.kapak_resmi.url }}" aria-label="{{ KategoriPopuler.alt_kategori_adi }}"></div>
                                <div class="featured__content">
                                    <h4 class="title tgcommon__hover"><a
                                            href="{% url 'hikaye:alt_kategori_detail'  alt_kategori_slug=KategoriPopuler.slug %}">{{ KategoriPopuler.alt_kategori_adi }}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>
        <!-- featured-area-end -->


        <!-- En çok okunan şiirler -->
        <section class="trending-post-area white-bg section__hover-line pt-75 pb-80">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h3 class="section__main-title">En Çok Okunan Hikayeler</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href={% url 'hikaye:cok-okunan-hikaye' %}>En Çok Okunan Hikayeler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="trending__slider">
                    <div class="swiper-container trending-active">
                        <div class="swiper-wrapper">

                            {% for pSiir in populersiir %}
                                <div class="swiper-slide">
                                    <div class="trending__post">
                                        <div class="trending__post-thumb tgImage__hover">
                                            <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                                            {% if pSiir.yazar.kapak_resmi %}
                                                <a href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}"><img
                                                    src="{{ pSiir.yazar.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                            {% else %}
                                                <a href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}"><img
                                                    src="{% static 'assets/img/others/Siirlerin_resmi.png' %}" alt="{{ pSiir.title }}"></a>

                                            {% endif %}




                                            <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                        </div>
                                        <div class="trending__post-content">

                                            <h4 class="title tgcommon__hover"><a
                                                    href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}">{{ pSiir.title }}</a>
                                            </h4>
                                            <ul class="tgbanner__content-meta list-wrap">
                                                <i class="fal fa-info-circle"> &nbsp;</i> <!-- İkonu burada koyduk -->
                                                <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                                {% for alt_kategori in pSiir.alt_kategorisi.all %}
                                                    <li>
                                                        <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- En çok okunan şiirler -->


        <!-- En çok Begeni Alan Hikayeler -->
        <section class="trending-post-area white-bg section__hover-line pt-75 pb-80">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h3 class="section__main-title">En Çok Beğeni Alan Hikayeler</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href={% url 'hikaye:cok-begeni-alan-hikayeler' %}>En Çok Beğeni Alan Hikayeler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="trending__slider">
                    <div class="swiper-container trending-active">
                        <div class="swiper-wrapper">

                            {% for pSiir in CokBeginiAlan %}
                                <div class="swiper-slide">
                                    <div class="trending__post">
                                        <div class="trending__post-thumb tgImage__hover">
                                            <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                                            {% if pSiir.yazar.kapak_resmi %}
                                                <a href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}"><img
                                                    src="{{ pSiir.yazar.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                            {% else %}
                                                <a href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}"><img
                                                    src="{% static 'assets/img/others/Siirlerin_resmi.png' %}" alt="{{ pSiir.title }}"></a>

                                            {% endif %}
                                            <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                        </div>
                                        <div class="trending__post-content">
                                            <ul class="tgbanner__content-meta list-wrap">

                                            </ul>
                                            <h4 class="title tgcommon__hover"><a
                                                    href="{% url 'hikaye:hikaye_slug'  hikaye_slug=pSiir.slug %}">{{ pSiir.title }}</a>
                                            </h4>
                                            <ul class="tgbanner__content-meta list-wrap">
                                                <i class="fal fa-info-circle"> &nbsp;</i> <!-- İkonu burada koyduk -->
                                                <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                                {% for alt_kategori in pSiir.alt_kategorisi.all %}
                                                    <li>
                                                        <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- En çok Begeni Alan Hikayeler -->

        <!-- En son eklenen Şiirler -->
        <section class="latest-post-area pt-80 pb-80">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section__title-wrap mb-40">
                            <div class="row align-items-end">
                                <div class="col-sm-6">
                                    <div class="section__title">

                                        <h3 class="section__main-title">En Son Eklenen Hikayeler</h3>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="section__read-more text-start text-sm-end">
                                        <a href="{% url 'hikaye:en-son-eklenen-hikaye' %}">En Son Eklenen Hikayeler
                                            Tümü<i
                                                    class="far fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="latest__post-wrap">
                            {% for soneklenensiir in son_eklenen_siirler %}
                                <div class="latest__post-item">
                                    <div class="latest__post-thumb tgImage__hover">

                                            {% if pSiir.yazar.kapak_resmi %}
                                                <a href="{% url 'hikaye:hikaye_slug'  hikaye_slug=soneklenensiir.slug %}"><img
                                                src="{{ soneklenensiir.yazar.kapak_resmi.url }}"
                                                alt="{{ soneklenensiir.title }}"></a>
                                            {% else %}
                                                <a href="{% url 'hikaye:hikaye_slug'  hikaye_slug=soneklenensiir.slug %}"><img
                                                src="{% static 'assets/img/others/Siirlerin_resmi.png' %}"
                                                alt="{{ soneklenensiir.title }}"></a>


                                            {% endif %}

                                    </div>
                                    <div class="latest__post-content">
                                        <ul class="tgbanner__content-meta list-wrap">


                                            <li>Ekleme Tarihi: {{ soneklenensiir.olusturma_tarihi|date }}</li>
                                        </ul>
                                        <h3 class="title tgcommon__hover"><a
                                                href="{% url 'hikaye:hikaye_slug'  hikaye_slug=soneklenensiir.slug %}">{{ soneklenensiir.title }}</a>
                                        </h3>
                                        <p>{{ soneklenensiir.title|truncatechars:50 }}</p>
                                        <ul class="post__activity list-wrap">
                                            <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                            {% for alt_kategori in soneklenensiir.alt_kategorisi.all %}
                                                <li>
                                                    <a href="{% url 'hikaye:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <aside class="blog-sidebar">
                            {% include 'parcali/KisaYollar/bizi_takip.html' %}
                            <div class="widget sidebar-widget widget_categories">
                                <h4 class="widget-title">Kategoriler</h4>
                                <ul class="list-wrap">
                                    {% for KategoriPopuler in TumSiirBannerKategorileri %}
                                        <li>
                                            <!-- Hata -->
                                            <div class="thumb"><a
                                                    href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=KategoriPopuler.slug %}"><img
                                                    src="{{ KategoriPopuler.kapak_resmi.url }}"
                                                    alt="{{ KategoriPopuler.alt_kategori_adi }}"></a></div>
                                            <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=KategoriPopuler.slug %}">{{ KategoriPopuler.alt_kategori_adi }}</a>

                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <div class="widget sidebar-widget">
                                <div class="sidePost-active">
                                    {% for randonsiir in siirRandom %}
                                        {% if randonsiir.usermi %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsiir.yazar.kapak_resmi.url }}" aria-label="{{ randonsiir.title }}">
                                        {% else %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsiir.sair.kapak_resmi.url }}" aria-label="{{ randonsiir.title }}">

                                        {% endif %}

                                    <div class="sidePost__content">
                                        <h5 class="title tgcommon__hover"><a
                                                href="{% url 'siir:siir_detail' siir_slug=randonsiir.slug %}">{{ randonsiir.title }}</a>
                                        </h5>
                                    </div>
                                    </div>
                                    {% endfor %}


                                    </div>

                                </div>
                                <div class="widget sidebar-widget">
                                    <div class="sidePost-active">
                                        {% for randonsair in sairRandomsag %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsair.kapak_resmi.url }}" aria-label="{{ randonsair.title }}">
                                                <div class="sidePost__content">
                                                    <h5 class="title tgcommon__hover"><a
                                                            href="{% url 'sairler:sair_detail' sair_slug=randonsair.slug %}">{{ randonsair.title }}
                                                        - Hayatı</a></h5>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>

                                </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!--  En son eklenen Şiirler -end -->


    </main>
    <!-- main-area-end -->





{% endblock %}