{% extends 'base.html' %}
{% load static %}


{% block title %}En Güzel ve Anlamlı Sözler | www.enguzelsiirler.com{% endblock %}
{% block description %}Kendi yazdığın sözleri bizimle paylaşabilir veya paylaşınları takip edebilir beğene bilir yada favorilerine alabilirsin{% endblock %}
{% block keywords %}Aşk sözleri, sevgiliye güzel sözler, cuma mesajı, anlamlı sözler, baba sözler, ilginç sözler, kısa sözler, ağır sözler, sert sözler{% endblock %}
{% block ogtitle %}En Güzel ve Anlamlı Sözler | www.enguzelsiirler.com{% endblock %}
{% block ogDes %}Kendi yazdığın sözleri bizimle paylaşabilir veya paylaşınları takip edebilir beğene bilir yada favorilerine alabilirsin{% endblock %}
{% block ogimage %}{{ request.scheme }}://{{ request.get_host }}
    {% static 'assets/img/others/Siirlerin_resmi.png' %}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}En Güzel ve Anlamlı Sözler | www.enguzelsiirler.com{% endblock %}
{% block twdesc %}Kendi yazdığın sözleri bizimle paylaşabilir veya paylaşınları takip edebilir beğene bilir yada favorilerine alabilirsin{% endblock %}
{% block twimage %}{{ request.scheme }}://{{ request.get_host }}
    {% static 'assets/img/others/Siirlerin_resmi.png' %}{% endblock %}


{% block content %}
    <!-- main-area -->
    <main>
        <!-- trending-area -->
        <section class="trending-post-area white-bg section__hover-line pt-75 pb-80">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h1 class="section__main-title">Popüler Yazarlar</h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href={% url 'sairler:populer-sairler' %}>Popüler Yazarların Tümü<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="trending__slider">
                    <div class="swiper-container trending-active">
                        <div class="swiper-wrapper">

                            {% for pSair in sairpopuler %}
                                <div class="swiper-slide">
                                    <div class="trending__post">
                                        <div class="trending__post-thumb tgImage__hover">
                                            <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                                            <a href="{% url 'sairler:sair_detail'  sair_slug=pSair.slug %}"><img
                                                    src="{{ pSair.kapak_resmi.url }}" alt="{{ pSair.title }}"></a>
                                            <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                        </div>
                                        <div class="trending__post-content">
                                            <ul class="tgbanner__content-meta list-wrap">
                                            </ul>
                                            <h4 class="title tgcommon__hover"><a
                                                    href="{% url 'sairler:sair_detail'  sair_slug=pSair.slug %}">{{ pSair.title }}</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- trending-area-end -->


        <!-- featured-area -->
        <section class="featured-post-area section__hover-line pt-75">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h1 class="section__main-title">Popüler Kategoriler</h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href="{% url 'sozler:tum-soz-kategorileri' %}">Tüm Kategoriler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for KategoriPopuler in tum_banner_alt_kategoriler %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="featured__post">
                                <div class="featured__thumb"
                                     data-background="{{ KategoriPopuler.kapak_resmi.url }}" aria-label="{{ KategoriPopuler.alt_kategori_adi }}">

                                </div>
                                <div class="featured__content">
                                    <h4 class="title tgcommon__hover"><a
                                            href="{% url 'sozler:alt_kategori_detail'  alt_kategori_slug=KategoriPopuler.sozler_slug %}">{{ KategoriPopuler.sozler_title }}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- featured-area-end -->


        <!-- En çok okunan şiirler -->
        <section class="trending-post-area white-bg section__hover-line pt-75 pb-80">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h1 class="section__main-title">En Çok Okunan Şiirler</h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href={% url 'siir:cok-okunan-siirler' %}>En Çok Okunan Şiirler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="trending__slider">
                    <div class="swiper-container trending-active">
                        <div class="swiper-wrapper">

                            {% for pSiir in populersiir %}
                                <div class="swiper-slide">
                                    <div class="trending__post">
                                        <div class="trending__post-thumb tgImage__hover">
                                            <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                                            {% if pSiir.usermi %}
                                                <a href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}"><img
                                                        src="{{ pSiir.yazar.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                            {% else %}
                                                <a href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}"><img
                                                        src="{{ pSiir.sair.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                            {% endif %}

                                            <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                        </div>
                                        <div class="trending__post-content">
                                            <ul class="tgbanner__content-meta list-wrap">

                                            </ul>
                                            <h4 class="title tgcommon__hover"><a
                                                    href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}">{{ pSiir.title }}</a>
                                            </h4>
                                            <ul class="tgbanner__content-meta list-wrap">
                                                <i class="fal fa-info-circle"> &nbsp;</i> <!-- İkonu burada koyduk -->
                                                <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                                {% for alt_kategori in pSiir.alt_kategorisi.all %}
                                                    <li>
                                                        <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- En çok okunan şiirler -->


        <!-- En son eklenen Şiirler -->
        <section class="latest-post-area pt-80 pb-80">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section__title-wrap mb-40">
                            <div class="row align-items-end">
                                <div class="col-sm-6">
                                    <div class="section__title">

                                        <h1 class="section__main-title">En Son Eklenen Sözler</h1>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="section__read-more text-start text-sm-end">
                                        <a href="{% url 'sozler:en-son-eklenen-guzel-sozler' %}">En Son Eklenen Sözlerin
                                            Tümü<i
                                                    class="far fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="latest__post-wrap">
                            {% for soneklenensoz in son_eklenen_sozler %}
                                <div class="latest__post-item">
                                    <div class="latest__post-thumb tgImage__hover">
                                        {% if soneklenensoz.usermi %}
                                            <a href="{% url 'sozler:soz_slug' soz_slug=soneklenensoz.slug %}"><img src="{{ soneklenensoz.yazar.kapak_resmi.url }}" alt="{{ soneklenensoz.title }}"></a>
                                        {% else %}
                                            <a href="{% url 'sozler:soz_slug' soz_slug=soneklenensoz.slug %}"><img src="{{ soneklenensoz.sair.kapak_resmi.url }}" alt="{{ soneklenensoz.title }}"></a>
                                        {% endif %}

                                    </div>
                                    <div class="latest__post-content">
                                        <ul class="tgbanner__content-meta list-wrap">
                                            <li>Ekleme Tarihi: {{ soneklenensoz.olusturma_tarihi|date }}</li>
                                        </ul>
                                        <h3 class="title tgcommon__hover"><a
                                                href="{% url 'sozler:soz_slug' soz_slug=soneklenensoz.slug %}">{{ soneklenensoz.title }}</a>
                                        </h3>
                                        <p>{{ soneklenensoz.title|truncatechars:50 }}</p>
                                        <ul class="post__activity list-wrap">
                                            <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                            {% for alt_kategori in soneklenensoz.alt_kategorisi.all %}
                                                <li>
                                                    <a href="{% url 'sozler:alt_kategori_detail'  alt_kategori_slug=alt_kategori.sozler_slug %}">{{ alt_kategori.sozler_title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <aside class="blog-sidebar">
                            {% include 'parcali/KisaYollar/bizi_takip.html' %}
                            <div class="widget sidebar-widget widget_categories">
                                <h4 class="widget-title">Kategoriler</h4>
                                <ul class="list-wrap">
                                    {% for KategoriPopuler in TumSiirBannerKategorileri %}
                                        <li>
                                            <!-- Hata -->
                                            <div class="thumb"><a
                                                    href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=KategoriPopuler.slug %}"><img
                                                    src="{{ KategoriPopuler.kapak_resmi.url }}"
                                                    alt="{{ KategoriPopuler.alt_kategori_adi }}"></a></div>
                                            <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=KategoriPopuler.slug %}">{{ KategoriPopuler.alt_kategori_adi }}</a>

                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <div class="widget sidebar-widget">
                                <div class="sidePost-active">
                                    {% for randonsiir in siirRandom %}
                                        {% if randomsiir.usermi %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsiir.yazar.kapak_resmi.url }}" aria-label="{{ randonsiir.title }}">
                                        {% else %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsiir.sair.kapak_resmi.url }}" aria-label="{{ randonsiir.title }}">

                                        {% endif %}
                                    <div class="sidePost__content">
                                        <h5 class="title tgcommon__hover"><a
                                                href="{% url 'siir:siir_detail' siir_slug=randonsiir.slug %}">{{ randonsiir.title }}</a>
                                        </h5>
                                    </div>
                                    </div>
                                    {% endfor %}


                                    </div>

                                </div>
                                <div class="widget sidebar-widget">
                                    <div class="sidePost-active">
                                        {% for randonsair in sairRandomsag %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsair.kapak_resmi.url }}" aria-label="{{ randonsair.title }}">
                                                <div class="sidePost__content">
                                                    <h5 class="title tgcommon__hover"><a
                                                            href="{% url 'sairler:sair_detail' sair_slug=randonsair.slug %}">{{ randonsair.title }}
                                                        - Hayatı</a></h5>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>

                                </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!--  En son eklenen Şiirler -end -->


    </main>
    <!-- main-area-end -->





{% endblock %}