{% extends 'base.html' %}
{% load static %}




{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}





{% block content %}
    <!-- main-area -->
    <main>
        <!-- En son eklenen Şiirler -->
        <section class="latest-post-area pt-80 pb-80">

            <!-- Reklam Eklenebilir uzun Banner şeklinde -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section__title-wrap mb-40">
                            <div class="row align-items-end">
                                <div class="col-sm-6">
                                    <div class="section__title">
                                        <h1 class="section__main-title">{{ sayfa_adi }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="latest__post-wrap">
                            {% for siir in icerik %}
                                <div class="latest__post-item">
                                    <div class="latest__post-thumb tgImage__hover">
                                        {% if siir.usermi %}
                                            <a href="{% url 'siir:siir_detail' siir_slug=siir.slug %}"><img
                                                    src="{{ siir.yazar.kapak_resmi.url }}" alt="{{ siir.title }}"></a>
                                        {% else %}
                                            <a href="{% url 'siir:siir_detail' siir_slug=siir.slug %}"><img
                                                    src="{{ siir.sair.kapak_resmi.url }}" alt="{{ siir.title }}"></a>
                                        {% endif %}

                                    </div>
                                    <div class="latest__post-content">
                                        <ul class="tgbanner__content-meta list-wrap">


                                            <li>Ekleme Tarihi: {{ siir.olusturma_tarihi|date }}</li>
                                        </ul>
                                        <h2 class="title tgcommon__hover"><a
                                                href="{% url 'siir:siir_detail' siir_slug=siir.slug %}">{{ siir.title }}</a>
                                        </h2>
                                        <p>{{ siir.icerik|safe|truncatechars:50 }}</p>
                                        <ul class="post__activity list-wrap">
                                            <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                            {% for alt_kategori in siir.alt_kategorisi.all %}
                                                <li>
                                                    <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="pagination__wrap">
                            <ul class="list-wrap">
                                {% if icerik.has_previous %}
                                    <li><a href="?sayfa={{ icerik.previous_page_number }}"><i
                                            class="fas fa-angle-double-left"></i></a></li>
                                {% endif %}
                                {% for page_num in icerik.paginator.page_range %}
                                    {% if page_num == icerik.number %}
                                        <li class="active"><a href="?sayfa={{ page_num }}">{{ page_num }}</a></li>
                                    {% elif page_num > icerik.number|add:'-3' and page_num < icerik.number|add:'3' %}
                                        <li><a href="?sayfa={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if icerik.has_next %}
                                    <li><a href="?sayfa={{ icerik.next_page_number }}"><i
                                            class="fas fa-angle-double-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>


                    </div>


                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <aside class="blog-sidebar">
                            {% include 'parcali/KisaYollar/bizi_takip.html' %}
                            {% include 'parcali/KisaYollar/sag_kategori_siir.html' %}
                            <div class="widget sidebar-widget">
                                {% include 'parcali/KisaYollar/sag_favori_siir.html' %}
                                {% include 'parcali/KisaYollar/sag_favori_sair.html' %}
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!--  En son eklenen Şiirler -end -->


    </main>
    <!-- main-area-end -->





{% endblock %}