{% extends 'base.html' %}
{% load static %}


{% block title %}{{ alt_kategori.alt_kategori_adi }}{% endblock %}
{% block description %}{{ alt_kategori.meta_description }}{% endblock %}
{% block keywords %}{{ alt_kategori.keywords }}{% endblock %}
{% block ogtitle %}{{ alt_kategori.alt_kategori_adi }}{% endblock %}
{% block ogDes %}{{ alt_kategori.meta_description }}{% endblock %}
{% block ogimage %}{{ request.scheme }}://{{ request.get_host }}
    {% static 'assets/img/others/Siirlerin_resmi.png' %}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ alt_kategori.alt_kategori_adi }}{% endblock %}
{% block twdesc %}{{ alt_kategori.meta_description }}{% endblock %}
{% block twimage %}{{ request.scheme }}://{{ request.get_host }}
    {% static 'assets/img/others/Siirlerin_resmi.png' %}{% endblock %}





{% block content %}
    <!-- main-area -->
    <main>
        <!-- En son eklenen Şiirler -->
        <section class="latest-post-area pt-80 pb-80">

            <!-- Reklam Eklenebilir uzun Banner şeklinde -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section__title-wrap mb-40">
                            <div class="row align-items-end">
                                <div class="col-sm-6">
                                    <div class="section__title">
                                        <h3 class="section__main-title">{{ sayfa_adi }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="latest__post-wrap">
                            {% for siir in icerik %}
                                <div class="latest__post-item">
                                    <div class="latest__post-thumb tgImage__hover">
                                        {% if siir.usermi %}
                                            <a href="{% url 'siir:siir_detail' siir_slug=siir.slug %}"><img
                                                    src="{{ siir.yazar.kapak_resmi.url }}" alt="{{ siir.title }}"></a>
                                        {% else %}
                                            <a href="{% url 'siir:siir_detail' siir_slug=siir.slug %}"><img
                                                    src="{{ siir.sair.kapak_resmi.url }}" alt="{{ siir.title }}"></a>
                                        {% endif %}

                                    </div>
                                    <div class="latest__post-content">
                                        <ul class="tgbanner__content-meta list-wrap">


                                            <li>Ekleme Tarihi: {{ siir.olusturma_tarihi|date }}</li>
                                        </ul>
                                        <h3 class="title tgcommon__hover"><a
                                                href="{% url 'siir:siir_detail' siir_slug=siir.slug %}">{{ siir.title }}</a>
                                        </h3>
                                        <p>{{ siir.title|truncatechars:50 }}</p>
                                        <ul class="post__activity list-wrap">
                                            <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                            {% for alt_kategori in siir.alt_kategorisi.all %}
                                                <li>
                                                    <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="pagination__wrap">
                            <ul class="list-wrap">
                                {% if icerik.has_previous %}
                                    <li><a href="?sayfa={{ icerik.previous_page_number }}"><i
                                            class="fas fa-angle-double-left"></i></a></li>
                                {% endif %}
                                {% for page_num in icerik.paginator.page_range %}
                                    {% if page_num == icerik.number %}
                                        <li class="active"><a href="?sayfa={{ page_num }}">{{ page_num }}</a></li>
                                    {% elif page_num > icerik.number|add:'-3' and page_num < icerik.number|add:'3' %}
                                        <li><a href="?sayfa={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if icerik.has_next %}
                                    <li><a href="?sayfa={{ icerik.next_page_number }}"><i
                                            class="fas fa-angle-double-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>


                    </div>


                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <aside class="blog-sidebar">
                            {% include 'parcali/bizi_takip.html' %}
                            <div class="widget sidebar-widget widget_categories">
                                <h4 class="widget-title">Kategoriler</h4>
                                <ul class="list-wrap">
                                    {% for KategoriPopuler in TumSiirBannerKategorileri %}
                                        <li>
                                            <div class="thumb"><a href="blog.html"><img
                                                    src="{{ KategoriPopuler.kapak_resmi.url }}"
                                                    alt="{{ KategoriPopuler.alt_kategori_adi }}"></a></div>
                                            <a href="blog.html">{{ KategoriPopuler.alt_kategori_adi }}</a>

                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <div class="widget sidebar-widget">
                                <div class="sidePost-active">
                                    {% for randonsiir in siirRandom %}
                                        {% if randonsiir.usermi %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsiir.yazar.kapak_resmi.url }}">
                                        {% else %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsiir.sair.kapak_resmi.url }}">
                                        {% endif %}
                                    <div class="sidePost__content">
                                        <h5 class="title tgcommon__hover"><a
                                                href="{% url 'siir:siir_detail' siir_slug=randonsiir.slug %}">{{ randonsiir.title }}</a>
                                        </h5>
                                    </div>
                                    </div>
                                    {% endfor %}


                                    </div>

                                </div>
                                <div class="widget sidebar-widget">
                                    <div class="sidePost-active">
                                        {% for randonsair in sairRandomsag %}
                                            <div class="sidePost__item"
                                                 data-background="{{ randonsair.kapak_resmi.url }}">
                                                <div class="sidePost__content">
                                                    <h5 class="title tgcommon__hover"><a
                                                            href="{% url 'sairler:sair_detail' sair_slug=randonsair.slug %}">{{ randonsair.title }}
                                                        - Hayatı</a></h5>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>

                                </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!--  En son eklenen Şiirler -end -->


    </main>
    <!-- main-area-end -->





{% endblock %}