{% extends 'base.html' %}
{% load static %}

{% block title %}{{ keyler.title }}{% endblock %}
{% block description %}{{ keyler.meta_description }}{% endblock %}
{% block keywords %}{{ keyler.keywords }}{% endblock %}
{% block ogtitle %}{{ keyler.title }}{% endblock %}
{% block ogDes %}{{ keyler.meta_description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ keyler.title }}{% endblock %}
{% block twdesc %}{{ keyler.meta_description }}{% endblock %}


{% block content %}

    <!-- main-area -->
    <main>
        <!-- trending-area -->
        <section class="trending-post-area white-bg section__hover-line pt-75 pb-80">
            <div class="container">
            <h1 class="text-center" style="font-size: 14px;">En Güzel Aşk Şiirleri - enguzelsiirler.com</h1>
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h2 class="section__main-title">Popüler Şiirler</h2>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href={% url 'siir:populer-siirler' %}>Tüm Popüler Şiirler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="trending__slider">
                    <div class="swiper-container trending-active">
                        <div class="swiper-wrapper">

                            {% for pSiir in populersiir %}
                                <div class="swiper-slide">
                                    <div class="trending__post">
                                        <div class="trending__post-thumb tgImage__hover">
                                            {% if pSiir.usermi %}
                                                <a href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}"><img
                                                        src="{{ pSiir.yazar.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                                <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                            {% else %}
                                                <a href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}"><img
                                                        src="{{ pSiir.sair.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                                <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                            {% endif %}

                                        </div>
                                        <div class="trending__post-content">
                                            <ul class="tgbanner__content-meta list-wrap">
                                                <!--  <li class="category"><a
                                                    href="{% url 'siir:home' %}">{{ pSiir.kategorisi }}</a>
                                            </li> -->

                                            </ul>
                                            <h4 class="title tgcommon__hover"><a
                                                    href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}">{{ pSiir.title }}</a>
                                            </h4>
                                            <ul class="tgbanner__content-meta list-wrap">
                                                <i class="fal fa-info-circle"> &nbsp;</i> <!-- İkonu burada koyduk -->
                                                <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                                {% for alt_kategori in pSiir.alt_kategorisi.all %}
                                                    <li>
                                                        <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- trending-area-end -->


        <!-- featured-area -->
        <section class="featured-post-area section__hover-line pt-75">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h2 class="section__main-title">Popüler Şiir Kategorileri</h2>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href="{% url 'siir:tum-siir-kategorileri' %}">Tüm Kategoriler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for KategoriPopuler in TumSiirBannerKategorileri %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="featured__post">
                                <div class="featured__thumb"
                                     data-background="{{ KategoriPopuler.kapak_resmi.url }}"
                                     aria-label="{{ KategoriPopuler.alt_kategori_adi }}"></div>
                                <div class="featured__content">
                                    <h2 class="title tgcommon__hover"><a
                                            href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=KategoriPopuler.slug %}">En Güzel {{ KategoriPopuler.alt_kategori_adi }}</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>
        <!-- featured-area-end -->


        <!-- En çok okunan şiirler -->
        <section class="trending-post-area white-bg section__hover-line pt-75 pb-80">
            <div class="container">
                <div class="section__title-wrap mb-40">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="section__title">
                                <h2 class="section__main-title">En Çok Okunan Şiirler</h2>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section__read-more text-start text-sm-end">
                                <a href={% url 'siir:cok-okunan-siirler' %}>En Çok Okunan Şiirler<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="trending__slider">
                    <div class="swiper-container trending-active">
                        <div class="swiper-wrapper">

                            {% for pSiir in populersiir %}
                                <div class="swiper-slide">
                                    <div class="trending__post">
                                        <div class="trending__post-thumb tgImage__hover">

                                            {% if pSiir.usermi %}
                                                <a href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}"><img
                                                        src="{{ pSiir.yazar.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                                <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                            {% else %}
                                                <a href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}"><img
                                                        src="{{ pSiir.sair.kapak_resmi.url }}" alt="{{ pSiir.title }}"></a>
                                                <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                            {% endif %}
                                        </div>
                                        <div class="trending__post-content">
                                            <ul class="tgbanner__content-meta list-wrap">
                                                <!--  <li class="category"><a
                                                    href="{% url 'siir:home' %}">{{ pSiir.kategorisi }}</a>
                                            </li> -->

                                            </ul>
                                            <h4 class="title tgcommon__hover"><a
                                                    href="{% url 'siir:siir_detail'  siir_slug=pSiir.slug %}">{{ pSiir.title }}</a>
                                            </h4>
                                            <ul class="tgbanner__content-meta list-wrap">
                                                <i class="fal fa-info-circle"> &nbsp;</i> <!-- İkonu burada koyduk -->
                                                <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                                {% for alt_kategori in pSiir.alt_kategorisi.all %}
                                                    <li>
                                                        <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- En çok okunan şiirler -->


        <!-- En son eklenen Şiirler -->
        <section class="latest-post-area pt-80 pb-80">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="section__title-wrap mb-40">
                            <div class="row align-items-end">
                                <div class="col-sm-6">
                                    <div class="section__title">

                                        <h3 class="section__main-title">En Son Eklenen Şiirler</h3>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="section__read-more text-start text-sm-end">
                                        <a href="{% url 'siir:en-son-eklenen-siirler' %}">En Son Eklenen Şiirlerin
                                            Tümü<i
                                                    class="far fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="latest__post-wrap">
                            {% for soneklenensiir in son_eklenen_siirler %}
                                <div class="latest__post-item">
                                    <div class="latest__post-thumb tgImage__hover">
                                        {% if soneklenensiir.usermi %}
                                            <a href="{% url 'siir:siir_detail' siir_slug=soneklenensiir.slug %}"><img
                                                    src="{{ soneklenensiir.yazar.kapak_resmi.url }}"
                                                    alt="{{ soneklenensiir.title }}"></a>
                                        {% else %}
                                            <a href="{% url 'siir:siir_detail' siir_slug=soneklenensiir.slug %}"><img
                                                    src="{{ soneklenensiir.sair.kapak_resmi.url }}"
                                                    alt="{{ soneklenensiir.title }}"></a>

                                        {% endif %}

                                    </div>
                                    <div class="latest__post-content">
                                        <ul class="tgbanner__content-meta list-wrap">


                                        </ul>
                                        <h3 class="title tgcommon__hover"><a
                                                href="{% url 'siir:siir_detail' siir_slug=soneklenensiir.slug %}">{{ soneklenensiir.title }}</a>
                                        </h3>
                                        <p>{{ soneklenensiir.title|truncatechars:50 }}</p>
                                        <ul class="post__activity list-wrap">
                                            <!-- Boşluk eklemek için boşluk karakterini (non-breaking space) kullandık -->
                                            {% for alt_kategori in soneklenensiir.alt_kategorisi.all %}
                                                <li>
                                                    <a href="{% url 'siir:alt_kategori_detail'  alt_kategori_slug=alt_kategori.slug %}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <aside class="blog-sidebar">
                            {% include 'parcali/KisaYollar/bizi_takip.html' %}
                            {% include 'parcali/KisaYollar/sag_kategori_siir.html' %}
                            <div class="widget sidebar-widget">
                                {% include 'parcali/KisaYollar/sag_favori_siir.html' %}
                                {% include 'parcali/KisaYollar/sag_favori_sair.html' %}
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!--  En son eklenen Şiirler -end -->


    </main>
    <!-- main-area-end -->





{% endblock %}