{% load static %}
<div class="widget sidebar-widget widget_categories">
    <h4 class="widget-title">Kategoriler</h4>
    <ul class="list-wrap">
        {% for KategoriPopuler in TumSiirBannerKategorileri %}
            <li>
                <div class="thumb"><img
                        src="{{ KategoriPopuler.kapak_resmi.url }}"
                        alt="{{ KategoriPopuler.alt_kategori_adi }}"></div>
                <a href="{% url 'hikaye:alt_kategori_detail'  alt_kategori_slug=KategoriPopuler.slug %}">{{ KategoriPopuler.alt_kategori_adi }}</a>
            </li>
        {% endfor %}
    </ul>
</div>