{% load static %}
<ul class="list-wrap">
    <li class="list-inline-item"><a
            href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
            target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li class="list-inline-item"><a
            href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"
            target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item"><a
            href="https://wa.me/?text=Bunu Keslinkle okumalısın! {{ request.build_absolute_uri }}" target="_blank"><i
            class="fab fa-whatsapp"></i></a></li>
    <li class="list-inline-item"><a
            href="https://www.instagram.com/sharer.php?u={{ request.build_absolute_uri }}"
            target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fas fa-share"></i></a></li>
</ul>